<ng-container *ngIf="source$ | async as chat">
    <div class="chat">
        <div class="msg" *ngFor="let msg of chat.messages; trackBy: trackByCreated">

            <div class="user">
                <img [src]="msg.user?.photoURL">
                <div><span>
                    {{ msg.user?.displayName }}
                </span></div>
            </div>

            <p>{{ msg.content }}</p>

        </div>

    </div>

    <div class="form">
        <input [(ngModel)]="newMsg" (keydown.enter)="submit(chat.title)">

        <button (click)="submit(chat.title)">Send</button>
    </div>

</ng-container>
