.chat {
    padding: 10px;
    margin: 70px auto 100px;
    width: 100%;
}

.msg {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    order: 2;
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
    width: 90vw;
    font-size: 1.3em;
    animation-delay: 0ms;
    animation-duration: 600ms;

    .user {
        margin-right: 10px;
        min-width: 100px;
        border-right: 1px solid #e9e9e9;
    }
}

.form {
    position: fixed;
    bottom: 0;
    width: calc(100vw - 199px);
    padding: 20px 10vw;
    background: rgba(255, 255, 255, 0.8);
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 10vw;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99;
}
