<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">
        <mat-toolbar>Menu</mat-toolbar>
        <ng-container *ngIf="channels$">
            <mat-nav-list>
                <a mat-list-item
                   *ngFor="let channel of channels$ | async"
                   [routerLink]="channel.title"
                   [innerHTML]="'#' + channel.title"></a>
            </mat-nav-list>
        </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>chat-app</span>
        </mat-toolbar>
        <router-outlet #o="outlet"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
